.nav-top {
  padding: 0px 20px;
  background-color: #233e4c !important;
}

.linkedin-icon {
  margin-left: 50px;
  font-size: 40px;
  margin-top: 9px;
}

.navitems {
    justify-content: space-between;
}

.search-div {
  width: 400px;
  margin-top: 11px;
  margin-left: 5px;
}

.icon-search {
  color: gray;
  font-size: 20px;
}

.main-input {
  background-color: #e0e9ef;
  border: none;
}

#main-search-unput {
  border-radius: 0px !important;
  border: 0px solid white !important;
  height: 29px !important;
}

.nav-item-div {
  width: 65px;
  color: white;
  font-size: 12px;
  text-align: center;
  margin: 8px 0px 0px;
  /* justify-content: space-between; where does this go so it works?!*/
}

.nav-link:hover,
.nav-icon:hover {
  color: white;
}

.profile-image-div {
  background-image: url("https://picsum.photos/200");
  background-size: cover;
  margin-left: 20px !important;
  border-radius: 50%;
  border: 0.5px solid white;
  width: 24px;
  height: 24px;
  align-self: center;
}

.vl {
  border-left: 1px solid white;
  height: 51px;
  margin-left: 8px;
  margin-right: 5px;
}
